# IDE and environment-specific files
.idx/
.nix-last-install-checksum

# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
.next/

# Environment variables
.env
.env.local
